<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <!-- <ion-button (click)="toggleMenu()">
        <ion-icon slot="icon-only" name="menu"></ion-icon>
      </ion-button> -->

      <ion-buttons slot="start" color="primary">
        <ion-menu-button menu="primerMenu"></ion-menu-button>
      </ion-buttons>

    </ion-buttons>
    <ion-title color="primary">Componentes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  

  <ion-list>
    
    <ion-item *ngFor="let c of componentes | async"
    [routerLink]='c.redirectTo'>
    <ion-icon slot="start" [name]="c.icon" color="primary"></ion-icon>
      <ion-label>{{c.name}}</ion-label>
    </ion-item>
  </ion-list>

  <!-- <ion-button routerLink='/alert'>
    Alert
  </ion-button>

  <ion-button routerLink='/action-sheet'>
    Action Sheet
  </ion-button>  -->


</ion-content>
