ion-slides{
    height: 100%;
}

.slide-1{
    height: 100%;
    background-color: red;
}
.slide-2{
    height: 100%;
    background-color: green;
}
.slide-3{
    height: 100%;
    background-color: purple;
}